<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <form>
    <div class="holder form-group shadow-sm">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" required>
    </div>
    <div class="holder form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>
    <div class="holder form-group">
      <label for="phone">Phone(optional)</label>
      <input type="tel" class="form-control" id="phone">
    </div>

    <button class="btn btn-primary">SEND<img src="images/icons8-forward-50.png" style="width: 22px"></button>

  </form>
</div>

